#pg1{height: 120vh;
}

#pg4{height: 120vh;}


  header {
      z-index: 1;
      background: #88d1ee;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #e3e3e8;
 
  }
  #logo {
    float: left;
    font-size: 3em;
    margin: 0;
    padding: .4em;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #e3e3e8;
    transition: .5s all;
  }
  #logo:hover {
    color: #fafafa;
    background-color: #333;
  }
  nav {
    float: left;
  }
  nav ul {
      z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 2.2em 2em;
  }
  nav ul li {
    display: inline;
    padding: 0 .4em;
  }
  nav ul li a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    padding-bottom: 1.3em;
    transition: .5s color;
  }
  nav ul li a:hover {
    border-bottom: 3px solid #333;
  }
  #current {
    color: #ff4629;
    border-bottom: 3px solid #333;
  }
  #fb:hover {
    color: #3b5998;
  }
  #twitter:hover {
    color: #00acee;
  }

/**create account**/
#createaccount{
}

#createaccount ul{display: flex;
flex-direction: row-reverse;
gap: 40px;
list-style: none;
font-size: 30px;
position: fixed;
right: 150px;
top: 0px;
z-index: 2;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;

}

#createaccount ul li{text-decoration: none;
list-style: none;}

#createaccount ul li a{list-style: none;
text-decoration: none;}

.video1{position: relative;
    bottom: 200px;
left: 800px;}

.buy{font-size: 50px;
position: relative;
top: 200px;
right: -100px;
color: #00acee;}
.text{font-size: 20px;
position: relative;
top: 200px;
right: -100px;}

#getstarted{
    background: #00acee;
    height: 50px;
    width: 150px;
    position: relative;
    bottom: 200px;
    right: 400px;
    border-radius: 20px;
    text-align: center;
}

/**pg2**/
#pg2{height: 120vh;
  background: #88d1ee;
  padding: 0px;
  display: grid; 
   grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1.1fr 0.9fr; 
 gap: 0px; 
 justify-items: center;
 align-items: center;
  grid-template-areas: 
      "box1 box2 box3"
      "box4 box5 box6"; 
  }

#pg2 .box1{grid-area: box1;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(27, 3, 65);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(0, 150, 37);
}

.box1:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #b9b9b9, rgba(36, 146, 255, 0) 80%, rgba(95, 8, 73, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg2 .box2{grid-area: box2;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(177, 174, 174, 0.2);
  background: #026d8d;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(5, 163, 18);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(250, 95, 198);
}

.box2:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(25, 0, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg2 .box3{grid-area: box3;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #c70000;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(47, 93, 116);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(14, 4, 151);
}

.box3:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ca0547, rgba(255, 255, 255, 0) 80%, rgba(0, 192, 199, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg2 .box4{grid-area: box4;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #a15757;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(125, 0, 150);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(156, 0, 0);
}

.box4:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #b19fa5, rgba(4, 97, 189, 0) 80%, rgba(223, 0, 0, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg2 .box5{grid-area: box5;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #eeff00;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(0, 170, 255);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(0, 0, 0);
}

.box5:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #f30051, rgba(28, 255, 8, 0.37) 80%, rgba(106, 110, 136, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg2 .box6{grid-area: box6;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #6000ce;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(146, 7, 93);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: rgb(30, 255, 0);
}

.box6:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4304f0, rgba(204, 250, 2, 0.301) 80%, rgba(14, 182, 8, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#pg3{position: relative;
  bottom: 50px;
  height: 120vh;
background: none;
margin-left: 50px;}

#pg3 .video2{
  position: relative;
  left: 800px;
  top: 200px;
}
.pg3text{font-size: 20px;
position: relative;
bottom: 250px;}

.pg3btn{border: blue 2px solid;
height: 50px;
width: 200px;
border-radius: 5px;
position: relative;
bottom: 150px;}